<div class='section profile-heading'>
  <div class='columns is-mobile is-multiline'>
    <div class='column is-2'>
      <span class='header-icon image user-profile-image'>
        <% if @user.image.attached? %>
          <%= image_tag @user.image %>
        <% else %>
          <img alt='' src='http://placehold.it/300x225'>
        <% end %>
      </span>
    </div>
    <div class='column is-4-tablet is-10-mobile name'>
      <p>
        <span class='title is-bold'><%= "#{@user.first_name} #{@user.middle_name[0]}. #{@user.last_name}" %></span>
        <br>
        <% if @user == current_user %>
          <%= link_to "Edit Bio.", edit_user_registration_path, class: "button is-primary is-outlined"%>
        <% end %>
        <br>
      </p>
      <p class='tagline'>
        <%= "Location: #{@user.city}, #{@user.country}" %>
      </p><br>
      <p class='tagline'>
        <%= @user.biography %>
      </p>
    </div>
      <div class='column is-2-tablet is-4-mobile has-text-centered'>
        <p class='stat-val'><%= @user.listings.count  %></p>
        <p class='stat-key'>Listings</p>
      </div>
      <div class='column is-2-tablet is-4-mobile has-text-centered'>
        <p class='stat-val'><%= @reviews.count %></p>
        <p class='stat-key'>Reviews</p>
      </div>
      <div class='column is-2-tablet is-4-mobile has-text-centered'>
        <p class='stat-val'><%= @avg_rating ? @avg_rating : "--" %></p>
        <p class='stat-key'>Avg. Rating</p>
      </div>
  </div>
  <div class="columns has-text-centered">
    <div class="column is-one-third">
      <div class="title">Employment</div>
      <% if @user == current_user %>
        <%= link_to "+ Add", new_user_employment_path(@user) %>
      <% end %>
      <%= render partial: "employment", collection: @employments %>
    </div>
    <div class="column is-one-third">
      <div class="title">Education</div>
      <% if @user == current_user %>
        <%= link_to "+ Add", new_user_education_path(@user) %>
      <% end %>
      <%= render partial: "education", collection: @educations %>
    </div>
    <div class="column is-one-third">
      <div class="title">Reviews</div>
        <%= render partial: "review", collection: @reviews %>
    </div>
  </div>
</div>
</div>

