<tr>
  <td><%= admin_listing.title %></td>
  <td><%= admin_listing.category.name %></td>
  <td><%= admin_listing.description %></td>
  <td><%= admin_listing.price %></td>
  <td><%= admin_listing.delivery_time %> Days</td>
  <td>
    <%= link_to "View",  listing_path(admin_listing) %>
    <%= link_to "Edit",  edit_listing_path(admin_listing) %>
    <%= link_to "Delete",  listing_path(admin_listing), method: :delete, data: {confirm: "Are you sure?"} %>
  </td>
</tr>