<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div>
    <%= form.label :image %> 
    <%= form.file_field :image, accept: 'image/png,image/jpeg,image/jpg' %>
  </div>

  <div class="field select">
    <%= form.label :category, class: "label" %>
    <%= collection_select(:listing, :category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <%= form.text_field :description, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :price, class: "label" %>
    <%= form.text_field :price, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :delivery_time, class: "label" %>
    <%= form.text_field :delivery_time, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :active, class: "label" %>
    <%= form.check_box :active, class: "checkbox" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Listing", class: "button" %>
  </div>
<% end %>
