  <%= form_with(model: listing, local: true) do |form| %>
    <% if listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field file">
      <%= form.label "Image" %>
      <%= form.label :image, class: "file-label" do %>
        <%= form.file_field :image, class: "file-input" %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label "Category" %>
      <div class="select">
        <%= form.select(:category_id, options_for_select(@category_values, 1)) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: "textarea" %>
    </div>

    <div class="field">
      <%= form.label "Price ($)" %>
      <%= form.text_field :price %>
    </div>

    <div class="field">
      <%= form.label "Delivery Time (days)" %>
      <%= form.text_field :delivery_time %>
    </div>

    <div class="field tag-list">
      <%= form.label "Tags (comma separated)" %>
      <%= form.text_field :tag_list %>
    </div>


    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
