<div class="column is-one-fifth">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered">
        <%= listing.title %>
      </p>
    </header>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag listing.image if listing.image.attached?%>
        <%= image_tag "example_images/#{rand(1..20)}.jpg" if !listing.image.attached?%>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64 thumbnail">
            <%= image_tag listing.user.image, class: "is-rounded" if listing.user.image.attached? %>
            <%= image_tag "avatar/#{rand(1..7)}.jpg", class: "is-rounded" if !listing.user.image.attached?%>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= link_to "#{listing.user.first_name} #{listing.user.middle_name[0]}. #{listing.user.last_name}", user_profile_path(listing.user) %></p>
          <p class="subtitle is-6">$<%= listing.price %></p>
        </div>
      </div>

      <div class="content">
        <%= listing.description %>.
        <br>
        <time datetime="<%= listing.updated_at %>"><%= listing.updated_at.localtime.to_formatted_s(:short) %></time>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "View Listing", listing_path(listing), class: "card-footer-item" %>
      <%= link_to "Purchase", new_listing_order_path(listing), class: "card-footer-item" %>
      <%= link_to listing_favorite_path(listing), method: "put", class: "card-footer-item" do %>
        <% if current_user && current_user.favorited?(listing, scope: :favorite) %>
          <%= fa_icon("heart", style: 'color: Red') %>
        <% else %>
          <%= fa_icon("heart", type: :regular, style: 'color: Red') %>
        <% end %>
      <% end %>
  </footer>
  </div>
</div>