<div class="columns">
  <div class="column is-narrow">
    <div class="menu">
      <ul class="menu-list">
        <p class="menu-label">
          Seller Dashboard
        </p>
        <ul>
          <li><%= link_to "Your Listings", seller_path %></li>
          <li><%= link_to "Orders", seller_path %></li>
        </ul>
        <p class="menu-label">
          Buyer Dashboard
        </p>
        <ul>
          <li><%= link_to "Purchases", root_path %></li>
          <li><%= link_to "Favourites", root_path %></li>
        </ul>
      </ul>
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
        <li><%= link_to "Profile", seller_path %></li>
        <li><%= link_to "Settings", seller_path %></li>
      </ul>
    </div>
  </div>


  <div class="column">
    <div class="title">Your Active Listings</div>
    <% if !@active_listings.empty? %>

    <table class="table is-hoverable">
      <thead>
        <tr>
          <td>Title</td>
          <td>Category</td>
          <td>Description</td>
          <td>Price</td>
          <td>Delivery Time</td>
          <td>Admin</td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin_listing", collection: @active_listings %>
      </tbody>
    </table>

    <% end %>

    <div class="title">Your Inactive Listings</div>
    <% if !@inactive_listings.empty? %>
      <table class="table is-hoverable">
      <thead>
        <tr>
          <td>Title</td>
          <td>Category</td>
          <td>Description</td>
          <td>Price</td>
          <td>Delivery Time</td>
          <td>Admin</td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin_listing", collection: @inactive_listings %>
      </tbody>
    </table>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to '+ New Listing', new_listing_path %>
    <% end %>
  </div>
</div>
