<div class="menu">
  <ul class="menu-list">
    <p class="menu-label">
      Buyer Dashboard
    </p>
    <ul>
      <li>
        <%= link_to "Purchases", purchases_dashboard_path, class: "#{'is-active' if action_name == "purchases"}" %>
      </li>
      <li><%= link_to "Favourites", favorites_dashboard_path, class: "#{'is-active' if action_name == "favorites"}" %></li>
    </ul>
    <p class="menu-label">
      Seller Dashboard
    </p>
    <ul>
      <li><%= link_to "Your Listings", listings_dashboard_path, class: "#{'is-active' if action_name == "listings"}" %></li>
      <li><%= link_to "Sales", sales_dashboard_path, class: "#{'is-active' if action_name == "sales"}" %></li>
      <li><%= link_to "Reviews", reviews_dashboard_path, class: "#{'is-active' if action_name == "reviews"}" %></li>
    </ul>
  </ul>
  <p class="menu-label">
    Account
  </p>
  <ul class="menu-list">
    <li><%= link_to "Profile", user_profile_path(current_user) %></li>
    <li><%= link_to "Account Settings", edit_user_registration_path %></li>
  </ul>
</div>