<div class="box">
  <div><%= "School: #{education.school}" %></div>
  <div><%= "Degree: #{education.degree}" %></div>
  <div><%= "Start Date: #{education.start_date}" %></div>
  <div><%= "End Date #{education.end_date}" %></div>
  <% if @user == current_user %>
    <%= link_to "Edit", edit_user_education_path(@user, education) %>
    <%= link_to "Delete", user_education_path(@user, education), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</div>