<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @order.listing_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @order.completed %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @order.buyer %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
