<div class="column is-one-fifth">
  <div class="card">

    <header class="card-header">
      <p class="card-header-title is-centered">
        <%= link_to popular_listing.title, listing_path(popular_listing) %>
      </p>
    </header>

    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag popular_listing.image if popular_listing.image.attached?%>
        <%= image_tag "example_images/#{rand(1..20)}.jpg" if !popular_listing.image.attached? %>
      </figure>
    </div>

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64 thumbnail">
            <%= image_tag  popular_listing.user.image, class: "is-rounded" if popular_listing.user.image.attached?%>
            <%= image_tag "avatar/#{rand(1..7)}.jpg", class: "is-rounded" if !popular_listing.user.image.attached?%>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= link_to "#{popular_listing.user.first_name} #{popular_listing.user.middle_name[0]}. #{popular_listing.user.last_name}", user_profile_path(popular_listing.user) %></p>
          <p class="subtitle is-6">$<%= popular_listing.price %></p>
        </div>
      </div>
    </div>

    <footer class="card-footer">
      <%= link_to "View Listing", listing_path(popular_listing), class: "card-footer-item" %>
      <%= link_to "Purchase", new_listing_order_path(popular_listing), class: "card-footer-item" %>
    </footer>
    
  </div>
</div>