<div class="column is-one-third">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered">
        <%= favorite.title %>
      </p>
    </header>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag favorite.image if favorite.image.attached?%>
        <%= image_tag "example_images/#{rand(1..20)}.jpg" if !favorite.image.attached?%>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48 thumbnail">
            <%= image_tag favorite.image if favorite.image.attached?%>
            <%= image_tag "avatar/#{rand(1..7)}.jpg", class: "is-rounded" if !favorite.image.attached?%>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= "#{favorite.user.first_name} #{favorite.user.middle_name[0]}. #{favorite.user.last_name}" %></p>
          <p class="subtitle is-6">$<%= favorite.price %></p>
        </div>
      </div>

      <div class="content">
        <%= favorite.description %>.
        <br>
        <time datetime="<%= favorite.updated_at %>"><%= favorite.updated_at.localtime.to_formatted_s(:short) %></time>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "View Listing", listing_path(favorite), class: "card-footer-item" %>
      <%= link_to "Seller Profile", user_profile_path(favorite.user.id), class: "card-footer-item" %>
      <%= link_to listing_favorite_path(favorite), method: "put", class: "card-footer-item" do %>
        <%= current_user && current_user.favorited?(favorite, scope: :favorite) ? fa_icon("heart") : fa_icon("heart-o") %>
      <% end %>
  </footer>
  </div>
</div>